/.JRuleDescriptionLabelProvider.java._trace
/.JRuleDescriptionLabelProvider.xtendbin
/.JRuleLabelProvider.java._trace
/.JRuleLabelProvider.xtendbin
/JRuleDescriptionLabelProvider.java
/JRuleLabelProvider.java
